body{
	background-color: rgb(211, 205, 205);
}
.black_text{
    color: #000;
}
.stile_none{
    text-decoration: none;
}
.status_item_subscribe{
    color:red;
}
.name_film{
	color: #fff;
}
.film-v{
	min-width: 100vw;

}
.film_item{
	aspect-ratio: 30 / 45;
	max-width: 100%;
	overflow:unset;
	display: block;
}
.gener_select_items{
	display: flex;
	flex-direction: wrap;
	justify-content: space-around;
}
.gener_select_item{
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	width:180px ;
	height: 40px;
	border: 3px solid #000;
	border-radius: 5px;

    margin-bottom: 25px;
}
.gener_select_item:hover{
color: #fff;
background-color: rgb(230, 92, 92);
}
.down_footer{
	color:#fff;
	font-size: 20px;
	padding: 25px;
	background-color: rgb(49, 53, 56);

}

.copiright{
	text-align: center;
}
.social_icon{
	display: flex;
	flex-direction: wrap;
}
.social_icon_item{
	text-align: center;
	border-radius: 5px;
    background-color: #fff;
	margin: 10px;
}
.personal_cabinet_button{
	background: #fff;
	border-radius: 7px;
	margin-bottom: 10px;
	max-width: 55px;
}
.gener_select{
	border-radius: 15px;
	margin-top: 5px;
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 10px;
	background-color: #fff;
}
.margin_left{
    padding-left: 100px;
}
.film_search_items{
	margin-top: 20px;
	background-color: #fff;
	min-height: 300px;
}
.film_search_item{
	display:flex;
	flex-direction: wrap;
	border: 10px;
}
.image_item{
	margin-top: 10px;
	display: block;
	height: 270px;
}
.image_search_films{
	width: 250px;
	background-color: black;
}
.image_with{
    width: 100%;
}
.list_searc_film{

	max-width: 280px ;
	margin: 20px;
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
}
.most_popular{
    background-color: #fff;
    margin-top: 15px;
    padding-top: 25px;

}
.list-style{
    list-style: none;
    margin-left: 0;
}
.years_gener{
	font-size: 14px;
	margin-top: 5px;
	padding: 4px;
	color: cadetblue;
}
.name_info{
color: #000;
padding: 2px;
font-weight: 600;
padding-top: 5px;
}
.hreff_decoraton
{
	text-decoration: none;
	margin-bottom: 20px;
}
.search_list{
	display: flex;
	flex-direction: wrap;
	justify-content: space-around;
}
.blog_item{
    padding: 25px;
	display: flex;
	flex-direction: wrap;
	margin: 40px;
	background-color: #fff;
}
.popular_bar{
    margin-top: 10px;
    padding: 20px;
    background-color: #fff;
}
.bgComent{
    background-color: cadetblue;
}
.video_size{
    width: 100%;
    padding: 30px;
    background-color: cadetblue;
}
.image_width{
    aspect-ratio: 30 / 45;
	width: 100%;
}
.image_background{
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
}
.text_adaptiv{
	font-size: 2vw;
}
.imaiges_blog{
	width: 100%;
}
.blog_searc{
    margin-top: 10px;
    background-color: cadetblue;
    padding: 20px;
}
.title_blog{
	font-size: 35px;
	font-weight: 600;
	margin-top: 15px;
	margin-left: 50px;
	margin-bottom: 50px;
}
.autor_blog{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.description_blog{
	margin-left: 30px;
	font-size: 25px;
	min-height: 56%;
}
.image_about{
	width: 100vw;
}
.item_about{
	min-height: 60vh;
	margin-top: 100px;
}
.title_about{
	font-size: 30px;
	font-weight: 600;
}
.comments{
    padding-bottom: 30px;
	background-color: cadetblue;

}
.height_like{
    width: 20px;
}
.comment_title{
	margin-top: 50px;
	margin-left: 50px;
	font-size: 30px;
	font-weight: 600;
}
.width_private{
    background-color: #fff;
    min-height: 70vh;
}
.comments_item{
	padding: 20px;
	background-color: #fff;
}
.autor_name_comment{
	margin-top: 10px;
	display: flex;
	color: cadetblue;
	flex-direction: column;
	justify-content: flex-end;
}
.helou_tab{
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 40px;
	font-weight: 600;
	background-color: cadetblue;
	color: #fff;
	width: 100vw;
	display: flex;
	justify-content: center;
}
.cabinet_status{
	margin: 50px;
	font-size: 30px;
	font-weight: 600;
}
.price_table{
	padding: 20px;
	background-color: #fff;
	margin-bottom: 100px;
}
.status_item{
	color: rgb(86, 128, 8);
}
.center_size{
    height: 70vh;
}

.button_size{
    font-size: 70px;
}
.margin_left{
    margin-left: 0vw;
}
.height_form{
    height: 50px;
    font-size: 27px;
}


@media only screen and (max-width: 600px) {
    .text_size{
        font-size: 70px;
    }
    .button_size{
        font-size: 70px;
    }
    .social_icon_item{
        height: 100px;
       width: 100px;
    }
    .margin_left{
        padding-left: 50px;
    }
    .height_form{
        height: 100px;
        font-size: 50px;
    }
    .height_like{
        width: 50px;
    }
}


@media only screen and (min-width: 600px) {
    .text_size{
        font-size: 60px;
    }
    .button_size{
        font-size: 60px;
    }
    .social_icon_item{
        height: 100px;
       width: 100px;
    }
    .margin_left{
        padding-left: 50px;
    }
    .height_form{
        height: 100px;
        font-size: 50px;
    }
    .height_like{
        width: 50px;
    }
}


@media only screen and (min-width: 768px) {
    .text_size{
        font-size: 50px;
    }
    .button_size{
        font-size: 50px;
    }
    .social_icon_item{
       height: 60px;
       width: 60px;
    }
    .margin_left{
        padding-left: 50px;
    }
    .height_form{
        height: 100px;
        font-size: 50px;
    }
    .height_like{
        width: 50px;
    }
 }


@media only screen and (min-width: 992px) {
    .text_size{
        font-size: 27px;
    }.button_size{
        font-size: 19px;
    }
    .social_icon_item{
        height: 60px;
       width: 60px;
    }
    .margin_left{
        margin-left: 0vw;
    }
    .height_form{
        height: 50px;
        font-size: 20px;
    }
    .height_like{
        width: 20px;
    }
}


@media only screen and (min-width: 1200px) {
    .text_size{
        font-size: 20px;
    }
    .button_size{
        font-size: 19px;
    }
    .social_icon_item{
        height: 60px;
       width: 60px;
    }
    .margin_left{
        margin-left: 0vw;
    }
    .height_form{
        height: 50px;
        font-size: 27px;
    }
    .height_like{
        width: 20px;
    }
}
